#notification-container {
  visibility: hidden;
  display: flex;
  min-width: 20%;
  margin-left: -25%;
  height: 72px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 2px;
  padding: 0px 0px;
  position: fixed;
  z-index: 1;
  left: 100%;
  bottom: 30px;
  font-size: 17px;
  border: 1px solid lightgray;
  border-radius: 45px;
  box-shadow: 1px 2px lightgrey;
  font-family: sans-serif;
  font-weight: 100;
}

.dot {
  height: 35px;
  width: 35px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #2f95f7;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}

.dot:last-of-type:hover {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
}

.icon-img {
  height: 65px;
  width: 65px;
  padding: 4px 0px;
  margin-left: 5px;
  border-radius: 50%;
  display: inline-block;
}

.content {
  width: 220px;
  height: 65px;
  font-size: smaller;
  padding: 6px 18px;
}

.recent-content {
  width: 220px;
  height: 65px;
  font-size: smaller;
  padding: 0px 18px;
}

.heading {
  text-align: left;
  margin-bottom: 0;
}

.recent-heading {
  text-align: left;
  font-weight: 600;
  margin-bottom: 0;
}

.peopleCount {
  color: #2f95f7;
}

.verified {
  margin: 0;
  font-size: small;
  text-align: left;
  display: flex;
}

.recent-verified {
  margin: 0;
  font-size: small;
  text-align: left;
}

.verified-bottom {
  display: flex;
}

.verified pre {
  margin: 0;
  font-family: sans-serif;
}

.verified-content {
  color: lightgray;
}

.verified-content-influence {
  margin: 0;
  font-family: sans-serif;
}

.verified-content-pre {
  margin: 0;
  font-family: sans-serif;
}

#notification-container.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
